
/* Палитра */

:root {
    /* Цвет текста */
    --text-blue: rgba(33, 150, 243, 1);
    --text-white:rgba(255, 255, 255, 1);
    --text-black:rgba(33, 33, 33, 1);
    --text-dark-gray:rgba(33, 33, 33, 1);
    --text-gray:rgba(117, 117, 117, 1);
    --text-white-op06: rgba(255, 255, 255, 0.6);

    /*Цвет фона кнопок*/
    --btn-blue: rgba(33, 150, 243, 1);
    --btn-gray: rgba(245, 244, 250, 1);

    /* Цвет фона секций */
    --bcg-white:rgba(255, 255, 255, 1);
    --bcg-gray:rgba(245, 244, 250, 1);
    --bcg-dark-gray:rgba(47, 48, 58, 1);
  }